.rl-list-item {
  position: relative;
  margin: 4px 2px 12px 2px;
  padding: 3px 3px 6px 3px;
}

.rl-list-item:hover {
  background: #f2f2f2;
}

.rl-display-title {
  font-weight: bold;
  font-size: 110%
}

.rl-display-id {
  font-size: 80%;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
}

.rl-item-form {
  display: none;
}

.request-list-full {
  background-color: #fcc;
}

#rl-photoduplication-options-form {
  display: none;
}

#rl-saved-options-form {
  display: none;
}

.rl-remove-from-list-button {
  width: 22px;
  height: 24px;
  margin: 1px 1px 3px 1px;
  text-align: center;
  color: #c2c2c2;
  padding-left: 7px;
  font-size: 12;
}

.rl-edited-indicator {
  display: none;
  width: 22px;
  height: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
  background: #effffa;
  margin: 3px 1px 6px 1px; 
  text-align: center;
  padding-top: 2px;
}

.rl-expand-item-button {
  display: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.rl-sort-buttons {
  margin: 1px 1px -1px 1px;
}

.rl-select-buttons {
  margin: 1px 1px -1px 1px;
}

.rl-all-selected {
  color: #999999;
}

.rl-none-selected {
  color: #999999;
}

.rl-ha-type-select {
}

.rl-ha-additional-fields {
}

.rl-ha-options-form {
  min-height: 75px;
  vertical-align: middle;
}

#rl-list-pane {
  clear: both;
  min-height:100px;
  height: auto;
  resize: vertical;
  padding: 10px;
  margin: 10px 1px 25px 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
}

.rl-message-list-options {
  margin: 1px 1px 12px 1px;
}

.rl-message {
  font-size: 110%;
  width: 100%;
  text-align: left;
  padding: 4px 1px 4px 1px;
}

.rl-message-title {
  width: 70%;
  font-size: 120%;
  margin-bottom: 20px;
}

.rl-item-display {
  position: relative;
  min-height: 85px;
}

.rl-item-table {
  width: 95%;
  padding: 5px;
}

.rl-item-table, td {
  padding: 2px;
}

.rl-display-container-pane {
}

.rl-display-container-cell {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 4px 2px 4px;
  margin: 2px 6px 2px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
}

.rl-display-left {
  background: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}

.rl-item-count-label {
  font-weight: bold;
  font-size: 125%;
}

.rl-display-label {
  text-align: right;
  vertical-align: text-top;
  width: 1%;
  padding: 0px 8px 0px 8px;
}

.rl-datepicker {
  padding-top: 0px !important;
  width: 200px;
}

.rl-ha-item-form-table, td {
  padding: 2px !important;
}

.rl-ha-item-form-saved {
  display: none;
}

.rl-ha-item-form-photoduplication {
  display: none;
}

.rl-ha-aeon-link {
  font-size: 120%;
  margin-top: -40px;
  margin-bottom: -40px;
}

.form-group {
  margin-bottom: 4px;
}

.rl-ha-collapsed-help {
  position: relative;
}

.rl-ha-expand-help {
  margin-left: 40px;
}

.rl-ha-expanded-help {
  text-align: left;
  margin: 10px 100px 10px 0px;
}

.rl-ha-expanded-help, p {
  margin-bottom: 6px;
}

.rl-ha-options-help {
  font-size: 80%;
}
