.rl-list-item {
  position: relative;
  margin: 4px 2px 12px 2px;
  padding: 3px 3px 6px 3px;
}

.rl-list-item:hover {
  background: #f2f2f2;
}

.rl-display-title {
  font-weight: bold;
  font-size: 110%
}

.rl-display-id {
  font-size: 80%;
  white-space: nowrap;
  border: solid 1px #c2c2c2;
  border-radius: 3px;
}

.rl-item-form {
  display: none;
}

.request-list-full {
  background-color: #fcc;
}

#rl-photoduplication-options-form {
  display: none;
}

#rl-saved-options-form {
  display: none;
}

.rl-remove-from-list-button {
  width: 22px;
  height: 24px;
  margin: 1px 1px 3px 1px;
  text-align: center;
  color: #222;
  font-size: 12;
  font-weight: bold;
}

.rl-edited-indicator {
  display: none;
  width: 22px;
  height: 24px;
  border: solid 1px #c2c2c2;
  border-radius: 3px;
  background: #effffa;
  margin: 3px 1px 6px 1px;
  text-align: center;
  padding-top: 2px;
}

.rl-expand-item-button {
  display: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.rl-sort-buttons {
  margin: 1px 1px -1px 1px;
}

.rl-select-buttons {
  margin: 1px 1px -1px 1px;
}

.rl-all-selected,
.rl-none-selected {
  color: #999999;
}

.rl-ha-options-form {
  min-height: 75px;
  vertical-align: middle;
}

#rl-list-pane {
  clear: both;
  min-height:100px;
  height: auto;
  resize: vertical;
  padding: 10px;
  margin: 10px 1px 25px 1px;
  border: solid 1px #c2c2c2;
  border-radius: 3px;
}

.rl-message-list-options {
  margin: 1px 1px 12px 1px;
}

.rl-message {
  width: 100%;
  text-align: left;
  padding: 4px 1px 4px 1px;
}

.rl-message-title {
  width: 70%;
  margin-bottom: 20px;
}

.rl-item-display {
  position: relative;
  min-height: 85px;
}

.rl-item-table {
  width: 95%;
  padding: 5px;
}

.rl-item-table, td {
  padding: 2px;
}

.rl-display-container-cell {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 4px 2px 4px;
  margin: 2px 6px 2px 0px;
  border: solid 1px #c2c2c2;
  border-radius: 3px;
}

.rl-display-left {
  background: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}

.rl-item-count-label {
  font-weight: bold;
  font-size: 125%;
}

.rl-display-label {
  text-align: right;
  vertical-align: text-top;
  width: 1%;
  padding: 0px 8px 0px 8px;
}

.rl-datepicker {
  padding-top: 0px !important;
  width: 200px;
}

.rl-ha-item-form-table, td {
  padding: 2px !important;
}

.rl-ha-item-form-saved {
  display: none;
}

.rl-ha-item-form-photoduplication {
  display: none;
}

.rl-ha-aeon-link {
  margin-top: -40px;
  margin-bottom: -40px;
}

.form-group {
  margin-bottom: 4px;
}

.rl-ha-collapsed-help {
  position: relative;
}

.rl-ha-expand-help {
  margin-left: 40px;
}

.rl-ha-expanded-help {
  text-align: left;
  margin: 10px 100px 10px 0px;
}

.rl-ha-expanded-help, p {
  margin-bottom: 6px;
}

.rl-ha-options-help {
  font-size: 80%;
}

.rl-extra-button-pane {
  margin-top: 10px;
}

.rl-extra-button {
  margin-left: 10px;
}

.rl-item-list-header {
  margin-left: 5px;
}

.rl-request-form-header {
  margin-left: 15px;
  margin-bottom: 20px;
}

.rl-item-list-message {
  padding: 0.5rem 1rem;
}

form .form-group.required > .control-label {
  font-weight: bold;
  background-image: url(/assets/required_quiet.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 16px;
}

/* make the badge accessible */
#rl-badge-count {
  color: rgb(0, 23, 31);
  background-color: #fff;
  margin-left: 1px;
}

/* help page styles */
.rl-help-list {
  padding: 0 1rem;
}

.rl-help-item {
  display: inline-block;
  margin-top: 1rem;
}

.rl-help-item-text {
  display: block;
  margin-bottom: 0.5rem;
}

.rl-help-item img {
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
  width: 100%;
  height: auto;
}

.rl-result-button {
  padding: 0 0.5rem;
}

/* formatting for request confirmation modal */
.rl-request-data {
  font-weight: bold;
}

.label-digital-version {
  display: inline-block;
}
