.rl-list-item {
  position: relative;
  margin: 4px 2px 12px 2px;
  padding: 3px 3px 6px 3px;
}

.rl-list-item:hover {
  background: #f2f2f2;
}

.rl-display-title {
  font-weight: bold;
}

.request-list-item-form {
  display: none;
}

.request-list-full {
  background-color: #fcc;
}

#photoduplication-options-form {
  display: none;
}

.rl-remove-from-list-button {
  color: #c2c2c2;
}

.rl-expand-item-button {
  display: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.request-list-type-select {
}

.request-list-additional-fields {
  background: #f2f2f2;
}

#rl-list-pane {
  overflow-y: auto;
  min-height:100px;
  max-height:600px;
  height: auto;
  resize: vertical;
  padding: 10px;
  margin: 10px 1px 25px 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
}

.rl-message-title {
  font-size: 130%;
}

.rl-message-session {
  font-size: 110%;
}

.rl-message {
  width: 100%;
  background: #f2f2f2;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c2c2;
  border-radius: 3px;
}

.rl-item-display {
  position: relative;
}

.rl-item-table {
  width: 95%;
  padding: 5px;
}

.rl-item-table, td {
  padding: 2px;
}

.rl-datepicker {
  width: 200px;
}

.rl-ha-item-form-table, td {
  padding: 2px !important;
}
