.request-list-item-form {
  display: none;
}

.request-list-full {
  background-color: #fcc;
}

#photoduplication-options-form {
  display: none;
}

.request-list-type-select {
}

.request-list-additional-fields {
  display: none;
  background: #f2f2f2;
}
