<a class="btn btn-default btn-xs rl-expand-item-button pull-right"
   data-uri="<%= item.uri %>"
   title="<%= t('plugin.request_list.expand_item_button_message') %>"
   onclick="request_list.toggleItemExpand($(this).parent().parent());"
   href="javascript:void(0);">

  <%= t('plugin.request_list.expand_item_button_label') %>

  <i class="fa fa-angle-down"></i>

</a>


