<div class="rl-list-item" data-uri="<%= item.uri %>">

  <%= render partial: "request_list/item_display", locals: {:form => form, :item => item } %>

  <% if include_form %>
    <div class="request-list-item-form recordinfo">
      <%= render partial: "request_list/#{handler.profile}/form_item", locals: {:form => form, :item => item.form_fields } %>
    </div>
  <% end %>

</div>
