<div class="recordrow" style="clear:both" data-uri="<%= item.uri %>">

  <%= render partial: 'request_list/remove_from_list_button', locals: {:record => item } %>

  <%= render partial: "request_list/item_display", locals: {:form => form, :item => item } %>

  <div class="row"></div>

  <% if include_form %>
    <div class="row request-list-item-form">
      <%= render partial: "request_list/#{handler.profile}/form_item", locals: {:form => form, :item => map } %>
    </div>
  <% end %>

</div>
