<button type="button" class="close rl-remove-from-list-button"
  aria-label="Remove From List"
  data-uri="<%= uri %>"
  title="<%= t('plugin.request_list.remove_from_list_button_label') %>"
  onclick="request_list.removeFromListButtonClick(this);"
  href="javascript:void(0);">&times;</button>


