<a id="request_list_remove_from_list_button"
   class="btn btn-default btn-sm pull-right"
   data-uri="<%= uri %>"
   title="<%= t('plugin.request_list.remove_from_list_button_label') %>"
   onclick="request_list.removeFromListButtonClick(this);"
   href="javascript:void(0);">

  <i class="fa <%= t('plugin.request_list.remove_from_list_button_icon') %>"></i>
</a>


