<a class="btn btn-default btn-xs rl-remove-from-list-button pull-right"
   data-uri="<%= uri %>"
   title="<%= t('plugin.request_list.remove_from_list_button_label') %>"
   onclick="request_list.removeFromListButtonClick(this);"
   href="javascript:void(0);">

  x

</a>


