<div id="rl-request-confirmation">
  <p>The following request has been added to your queue:</p>
  <span class="rl-request-data"></span>
  <p>You may continue to request more materials, or proceed to your request list to review your requests and check them out to your Research Account.</p>
</div>
