<div class="row">
  <div class="col-sm-12">
    <h2><%= t('plugin.request_list.list_title')  %></h2>
  </div>
</div>

<div class="alert alert-info alert-dismissible" role="alert">
  <button class="close" data-dismiss="alert">
    <span aria-hidden="true">x</span>
    <span class="sr-only">Close</span>
  </button>
  <%= t('plugin.request_list.empty_list_message').html_safe %>
</div>
