<div class="row">
  <div class="col-sm-12">
    <h2><span class="large_it"><%= t('plugin.request_list.list_title')  %></span></h2>
  </div>
</div>

<p>
  <%= t('plugin.request_list.empty_list_message').html_safe %>
</p>
