<div class="row">
  <div class="col-sm-12">

    <h6><span class="large_it"><%= t('plugin.request_list.list_title')  %></span></h6>
  </div>
</div>

<p class="serif">
  <%= t('plugin.request_list.empty_list_message').html_safe %>
</p>