<h1 class="h2">How to Request Materials</h1>
<p>You may request materials from the Archival Collections database by clicking the "Request This" button for the record(s) you would like to request. There are three ways to do this:</p> 

<ul class="rl-help-list">
  <li class="rl-help-item"><img src="<%= asset_path('request_record.png')%>" alt="screenshot of a single record in ArchivesSpace, highlighting the 'Request This' button" />
    <span class="rl-help-item-text">From any single record, in its upper right-hand corner;</span>
  </li>
  <li class="rl-help-item"><img src="<%= asset_path('request_collection.png') %>" alt="screenshot of a collection inventory in ArchivesSpace, highlighting the 'Request This' button for a single record in the list" />
    <span class="rl-help-item-text">From the collection inventory, accessible through the "Review and Request Material" pane of a collection record;</span>
  </li>
  <li class="rl-help-item"><img src="<%= asset_path('request_container.png')%>" alt="screenshot of the resource record for a collection, highlighting something I already forgot; fix this text later" />
    <span class="rl-help-item-text">From the container inventory for a collection, accessible through the "Collection Inventory" pane of a collection record, by clicking on an individual container record from the list and requesting it from its record.</span>
  </li>
</ul>

<p>At any time, you may view your requests queue by clicking on the "My Requests" link in the header of this site. You may view your research account by clicking on the "My Account" link. There, you may view and edit existing requests, and view more information about conducting research in the Special Collections Library.</p>
