<div class="review-item-title col-sm-8">
  <a class="review-item-title-link" href="<%= app_prefix(archival_object_base_url(@result)) %>">
    <%= @result.display_string %>
  </a>
</div>
<div class="review-item-container-summary col-sm-2">
  <% if @result.container_summary_for_badge %>
    <%= @result.container_summary_for_badge %>
  <% end %>
</div>
<div class="review-item-rl-button col-sm-2">
  <%= render partial: 'request_list/action_button', :locals => {:record => @result} %>
</div>
