<div class="col-sm-5 form-group">
  <div class="rl-message rl-message-session">
    <%= t('plugin.request_list.list_session_message') %>
  </div>
</div>

<div class="col-sm-2 form-group">
  <div class="pull-right">
    <a class="btn btn-default rl-remove-all"
       title="<%= t('plugin.request_list.remove_all_button_label') %>"
       onclick="request_list.removeAll();"
       href="javascript:void(0);">

      <%= t("plugin.request_list.remove_all_button_label") %>
      &nbsp;
      <i class="fa fa-times"></i>
    </a>
  </div>

</div>

<div class="col-sm-5">
</div>

