<div class="col-sm-7 form-group">
  <button type="submit" class="btn btn-primary"><%= t('plugin.request_list.submit_button_label') %></button>

  <div class="pull-right">
    <a class="btn btn-default rl-sort"
       title="<%= t('plugin.request_list.sort_button_label') %>"
       onclick="request_list.sortListByInput('ItemTitle');"
       href="javascript:void(0);">

      <i class="fa fa-sort"></i>
      <%= t('plugin.request_list.sort_title') %>
    </a>
  </div>
</div>

