<div class="col-sm-10 form-group">
</div>

<div class="col-sm-2">
<div class="form-group pull-right">
  <button type="submit" class="btn btn-primary"><%= t('plugin.request_list.submit_button_label') %></button>
</div>
</div>

