<% item.each {|r| r.each {|name, value| %>

  <input type="hidden" name="<%= name %>" value="<%= value %>">

<% }} %>

<div>

<table class="table table-striped rl-ha-item-form-table">
<% item.each {|r| %>
  <tr style="height: 30px;">
  </tr>

  <% r.each {|name, value| %>
    <% next if name == 'Request' %>
    <tr>
      <td><%= name.gsub(/_.+$/, '') %></td>
      <td><%= value.html_safe %></td>
    </tr>
  <% } %>
<% } %>
</table>

</div>
