<% item.each {|r| r.each {|name, value| %>

  <input type="hidden" name="<%= name %>" value="<%= value %>">

<% }} %>

<div>

<table class="table table-striped">
<% item.each {|r| %>
  <tr style="height: 30px;">
  </tr>

  <% r.each {|name, value| %>
    <tr>
      <td style="padding: 2px;"><%= name.gsub(/_.+$/, '') %></td>
      <td style="padding: 2px;"><%= value.html_safe %></td>
    </tr>
  <% } %>
<% } %>
</table>

</div>
