<div class="col-sm-10 form-group">
</div>

<div class="col-sm-2">
<div class="form-group pull-right">
  <button type="button" class="btn btn-secondary" onclick="window.scrollTo(0,0);"><%= t('plugin.request_list.back_to_top_button_label') %></button>
</div>
</div>

