<div class="col-sm-8">
</div>

<div class="col-sm-2 no-pad">
<div class="form-group pull-right">
  <a class="btn btn-default page_action" onclick="window.scrollTo(0,0);" title="<%= t('plugin.request_list.back_to_top_button_label') %>">
    <i class="fa fa-angle-up"></i>
    <%= t('plugin.request_list.back_to_top_button_label').html_safe %>
  </a>
</div>
</div>

<div class="col-sm-2">
</div>
